:root {  
    font-size: 15px;
    --max-width-desktop: 1440px;
    --max-width-mobile: 375px;
    --primary-1: hsl(31, 77%, 52%);
    --primary-2: hsl(184, 100%, 22%);
    --primary-3: hsl(179, 100%, 13%);
    --neutral-1: hsla(0, 0%, 100%, 0.75);
    /* parrafos */
    --neutral-2: hsl(0, 0%, 95%);
    /* background, h# y botones */
    --margin-content: 1.5rem;
    }